<div class="col-md-12" role="main">

  <h2 id="title">User {{model.username}}</h2>

  <strong>{{model.username}}</strong> - {{model.email}}

  <h3>Blogs</h3>
  <table>
    <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Tags</th>
    </thead>
    <tbody>
    {{#each blog in model.blogs}}
      <tr>
        <td>{{blog.id}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.description}}</td>
        <td>
          {{#each tag in blog.tags}}
            <span>{{tag.name}}, </span>
          {{/each}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>

</div>
